.filters
{
	/*Element Dimensions */
	width: 100%; height: 70px;
	/*outlines*/
	border: 1px solid #DDDDDD;

	border-radius: 4px;


}
/*margin: top right bottom left;*/
.filters button
{
	/* positioning*/
	float: right;
	margin-top: 11px;
	margin-bottom: 11px;
	margin-right: 30px;

	/*Element Dimensions */
	width: 20%; height: 48px;

	/*outlines*/
	border-style: none; border-radius: 4px;

	/* background*/
	background-color: #FF5A5F;
}
.filters button:hover
{
	opacity: 70%;

}
.filter_amenities
{
	background-color: #FF5A5F;
}
.locations, .amenities
{
	/*positioning */
	display: inline-block;
	vertical-align: middle;
	margin-left: 45px;
	/*Element Dimensions */
	width: 25%; height: 100%;
	/*outlines*/

}
.locations
{
	border-right: 1px solid #DDDDDD;

}


.locations:hover .popover,
.amenities:hover .popover
 {
	display: inline-block;
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */

}

				/*  HEADERS  */


h2 {
	font-size: 16px;
	padding-left: 30px;
	margin: 0px;
}
.locations h3, .amenities h3
{
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 5px;
}
.locations h4, .amenities h4
{
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 12px;
}

			/*LIST_STYLE*/

.popover
{
	display: none;
	/*positioning */
	margin-left: -1px;
	margin-top: 8px;

	/*Dimensions */
	width: 100%;

	/*outline*/
	border: 1px solid #DDDDDD;
	border-radius: 4px;

	/*inside*/
	background-color: #FAFAFA ;
	padding: 25px ;
	list-style-type: none;
}


ul
{
	list-style-type: none;
	padding: 0px;
	padding-bottom: 20px;
}
.popover ul {
    padding-left: 20px; /* Adjust the indentation as needed */
}

.popover li {
    padding-left: 10px; /* Adjust the indentation as needed */
}